<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="signup.css">
</head>
<body>
  <div class="login-container">
    <h1>Sign Up</h1>
    <form action="/signup" method="post">
      <input placeholder="Name" name="name" type="text">
      <input placeholder="Password" name="password" type="password">
      <button class="sub" type="submit">Sign Up</button>
    </form>
    <a href="/">Go back to login page</a>
  </div>
</body>
</html>